/vendor
/.env
/.env.backup
/.phpunit.result.cache
/Homestead.json
/Homestead.yaml
composer.lock
phpunit.xml
.DS_Store
Thumbs.db
*.swp
*.swo
*~
.idea
.vscode
/.history
coverage/
build/
docs/build
.phpunit.cache/
